body{ margin: 5px; background-color: #F7D9E3;}
h1{ text-align: center; background-color: lime; color:rgb(244, 40, 37);}
#section1{ background-color: chartreuse; color: blue; text-align: justify; text-size: 15px;}
#section2{ background-color: aqua; color:black; text-align: justify; text-size: 15px;}
div li{ color: crimson; font-size: x-large;}
div h2{ text-align: center; border: 30px solid blue; width:280px; border-radius: 30px;}